.light {
    box-sizing: border-box;
    width: 600px;
    height: 700px;

    .header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #fff;
        padding: 0px 20px;

        .chat-name {
            color: #484848;
            font-size: 18px;
        }

        .theme {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 22px;
            width: 40px;
            background-color: #7ebaff;
            border-radius: 50px;
            position: relative;
            padding: 0px 1px;


            .circle {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #fff;


                position: absolute;
                transition: all 0.1s linear;
                -webkit-transition: all 0.1s linear;
                -moz-transition: all  0.1s  linear;
                -o-transition: all  0.1s  linear;
            }
        }

    }

    .area-container {

        background-color: #eaebef;
        position: relative;
        display: flex;
        align-items: center;
        height: 600px;
        overflow: scroll;
        width: 100%;


        .area {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    .message-form {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 55px;
        width: 100%;
        padding: 0px 20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #eaebef;

        .buttonIn {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;

            .msg-input {
                box-sizing: border-box;
                padding-left: 15px;
                width: 100%;
                outline: none;
                height: 40px;
                border: none;
                border-radius: 20px;
                background-color: #fff;
                color: #000;
            }

            .msg-btn {
                position: absolute;
                top: 0;
                right: 5px;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: transparent;
                border-radius: 50%;
                border: none;

                img {
                    width: 20px;
                    margin-left: 3px;
                }

            }
        }
    }
}


.dark {

    box-sizing: border-box;
    width: 600px;
    height: 700px;

    .header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #171924f6;
        padding: 0px 20px;

        .chat-name {
            font-size: 18px;
            color: #fff;
        }

        .theme {
            padding: 0px 1px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 22px;
            width: 40px;
            background-color: #7069dc;
            border-radius: 50px;
            position: relative;

            .circle {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #fff;


                position: absolute;
                transition: all  0.1s  ease-in-out;
                -webkit-transition: all  0.1s  linear;
                -moz-transition: all  0.1s  linear;
                -o-transition: all  0.1s  linear;

            }

            .move-left {
                transform: translate(-20px, 0);
                -webkit-transform: translate(-20px, 0);
                -o-transform: translate(-20px, 0);
                -moz-transform: translate(-20px, 0);
            }
        }

    }

    .area-container {
        background-color: #171924;
        position: relative;
        display: flex;
        align-items: center;
        height: 600px;
        overflow: scroll;
        width: 100%;


        .area {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    .message-form {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 55px;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #171924;
        padding: 0px 20px;

        .buttonIn {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;

            .msg-input {
                box-sizing: border-box;
                padding-left: 15px;
                width: 100%;
                outline: none;
                height: 40px;
                border: none;
                border-radius: 20px;
                background-color: #31384a;
                color: #fff;
            }

            .msg-btn {
                position: absolute;
                top: 0;
                right: 5px;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: transparent;
                border-radius: 50%;
                border: none;

                img {
                    width: 20px;
                    margin-left: 3px;
                }

            }
        }
    }
}