.msg {
    display: flex;
    flex-direction: column;
    margin-top: 5px;


    .user-name {
        color: #fff;
        font-size: 13px;
    }


    .msg-area {
        position: relative;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 10px 23px 15px 12px;

        .msg-text {
            font-size: 15px;
            color: #fff;
        }

        .send-time {
            position: absolute;
            bottom: 2px;
            right: 6px;
            font-size: 10px;
            color: rgba(193, 193, 193, 0.8);
        }
    }
}






.msg.sent.light-msg {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;


    .user-name {
        color: #4e4e4e;
    }


    .msg-area {
        min-width: 80px;
        border-bottom-right-radius: 0px;
        background-color: #92c5ff;


        .send-time {
            color: #e6e6e6d3;
        }
    }
}



.msg.received.light-msg {
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;

    .user-name {
        color: #4e4e4e;
    }

    .msg-area {
        min-width: 80px;
        border-top-left-radius: 0px;
        background-color: rgb(110 110 110);
        box-shadow: 2px 2px 3px rgb(0 0 0 / 9%);

        .send-time {
            color: rgb(163, 163, 163);
            right: 16px;
        }
    }
}









.msg.sent.dark-msg {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;

    .msg-area {
        min-width: 80px;
        border-bottom-right-radius: 0px;
        background-color: #6862ce;
    }
}



.msg.received.dark-msg {
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;

    .msg-area {
        min-width: 80px;
        border-top-left-radius: 0px;
        background-color: #303749;

        .send-time {
            right: 16px;
        }
    }
}