.msg {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    .info {
        display: flex;
        flex-wrap: nowrap;

        .user-name {
            color: #fff;
            font-size: 14px;
        }
    }

    .msg-area {
        position: relative;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 10px 23px 15px 12px;
        box-shadow: 3px 3px 6px rgb(0 0 0 / 19%);

        .msg-text {
            font-size: 15px;
            color: #fff;
        }

        .send-time {
            position: absolute;
            bottom: 2px;
            right: 10px;
            font-size: 10px;
            color: rgba(193, 193, 193, 0.8);
        }
    }
}






.msg.sent {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;

    .msg-area {
        min-width: 80px;
        border-bottom-right-radius: 0px;
        background-color: #6862ce;
    }
}



.msg.received {
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;

    .info {
        flex-direction: row-reverse;
    }

    .msg-area {
        border-top-left-radius: 0px;
        background-color: #303749;
    }
}